:root {
  --primary-dark-color: #b997f1;
  --primary-dark-darker-color: #6a1ae2;
  --primary-dark-lighter-color: #d5c1f6; /* use black text*/
  --secondary-dark-color: #78e2cb;
  --primary-light-color: #1b4ce1;
  --primary-light-darker-color: #0039c9;
  --primary-light-lighter-color: #7185ec;
  --error-color: #f50000;
  --dark-theme-error-color: #ff6060;
}

html {
  background-color: #FAFAFA;
  font-family: sans-serif;
  color:#121212
}

html.dark {
  background-color: #121212;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.dark .nav-links a:hover, a:focus{
  background-color: var(--primary-dark-color);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #121212;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color:#121212;
}

.nav-links a:hover, a:focus {
  background-color: var(--primary-light-lighter-color);
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}
